{
	"FILENAME": "secrets.json",
	"SECRET_KEY": "the_real_secret_key_goes_here",
	"NAME": "database_name",
	"USER": "database_user",
	"PASSWORD": "database_password",
	"HOST": "127.0.0.1",
	"PORT": "5432"
}