{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>
  {% bootstrap_css %}
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link href="{% static "css/custom.css" %}" rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
  <script src="{% static "js/custom.js" %}" ></script>
  <script src="{% static "js/jquery.blockUI.js" %}"></script>
  {% bootstrap_javascript %}
  {% load bootstrap3 %}
{% load static from staticfiles %}
  <style>
      input.required, error {
        border: 2px solid red;
      }
    </style>
  {% block customcss %}
  <style>
                body {margin-top: 100px;
                      margin-bottom: 70px; }

                  #starry {
                  color:#B939A0;
                  font-size: 20px;
                }
            </style>
  {% endblock %}
</head>
<body>
  <div class="row">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-tint"></span>
            Market values of Car
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

            <li>
              <a href="implement this for bookmarks">
                <span class="glyphicon glyphicon-star" id="starry"></span>
                &nbsp;BookMarks
              </a>
            </li>

            <li>
              <a href="{% url 'search_create' %}">
                <span class="glyphicon glyphicon-plus"></span>
                &nbsp;New Search
              </a>
            </li>

            <li>
              <a href="{% url 'searchhome' %}">
                <span class="glyphicon glyphicon-th"></span>
                &nbsp;Searches
              </a>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-stats"></span>
                &nbsp;Reports <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="implement this">Raw Data</a>
                </li>
                <li>
                  <a href="implement this">Graphs</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="implement this">Email Report</a>
                </li>
              </ul>
            </li>

            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                &nbsp;
                        {{ user }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'usersetting' %}">Account Settings</a>
                </li>
                <li>
                  <a href="{% url 'auth_password_change' %}">Change Password</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="help">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="{% url 'logout' %}">Log Out</a>
                </li>
              </ul>
            </li>
            {% else %}
            <div class="navbar-collapse collapse">
              <form class="navbar-right" role="form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="col-sm-12">
                  <div class="col-sm-5 {% if login_failed %} has-error {% endif %}">
                    <input type="te6t" placeholder="Uname or Email" class="form-control input-sm" name="username" id="inputError"/>
                  </div>
                  <div class="col-sm-5 {% if login_failed %} has-error {% endif %}">
                    <input type="password" placeholder="Password" class="form-control input-sm" name="password" id="Password1"></div>
                  <div class="col-sm-2">
                    <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                  </div>
                </div>
                <span class="clearfix"></span>
                <div class="col-sm-12">
                  <div class="col-sm-5">
                    <label>
                      <input type="checkbox" value="remember-me"/>
                      &nbsp;Remember me
                    </label>
                  </div>
                  <div class="col-sm-5">
                    <label>
                      <a class="help-inline" href="{% url 'auth_password_reset' %}">Forgot password?</a>
                    </label>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                {% if login_failed %}
                <p class="alert-alert danger has-error">
                  <span class="help-block">Your username and password didn't match. Please try again</span>
                </p>
                {% endif %}
              </form>
            </div>
            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse --> </div>
      <!-- /.container --> </nav>
  </div>
  {% block content %} {% endblock %}
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" >
      <p class="navbar-text pull-left">site developers</p>
      <p class="navbar-text pull-right">Contact us</p>
  </div>
</div>
</body>
</html>