{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
                    
    <h3><span class="glyphicon glyphicon-lock"></span> Change Password</h3>

      </div>
    <div class="col-sm-offset-0 col-sm-10">
  <form action="{% url 'auth_password_change' %}" method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}

    {% buttons %}
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Change my password</button>
    </div>
    {% endbuttons %}
  </form>
  </div>
</div>
</div>
</div>
{% endblock %}
