{% extends "base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block customcss %}
<style>
                body {margin-top: 100px;
                      margin-bottom: 70px; }

               .container .jumbotron {
                  margin-top: 0;
                  background-color: rgba(0, 0, 0, 0.21);
                  color:black;
                }

                .container .jumbotron a{
                  color:rgb(177, 48, 69);
                }

                .region {
                  color:rgb(53, 29, 228);
                }

</style>
<script>
</script>
 

{% endblock %}

{% block content %}
<div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
    <div class="row">
      {% if bookmarks %}
      {% for bm in bookmarks %}

            <div class="col-6 col-sm-6 col-lg-4">
               <form action="{% url 'unbookmark_post' %}" method="POST"> {% csrf_token %}
                <h3>{{ bm.post.title }}
                  <button type="submit" class="bookmark" id="{{ bm.post.pk }}" ><span class= "glyphicon glyphicon-star"></span></button>
                  <input type="hidden" name="bookmark_id" value="{{ bm.post.pk }}" />
              </form>
            </h3>
              <p><small>{{ bm.post.body|lower|truncatewords:"20" }} </small></p>
              <p>
                <a class="btn btn-default" href="{% url 'single_postings_detail' pk=bm.post.pk %}" role="button">View details &raquo;</a>
                
              </p>

            </div><!--/span-->
      {% endfor %}
      {% else %}
          <p><h1>No bookmarks yet!</h1></p>
      {% endif %}
      </div> 
    </div>
    </div>
{% endblock %}
