{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block customcss %}
<style>
                body {margin-top: 100px;
                      margin-bottom: 70px; }

               .container .jumbotron {
                  margin-top: 0;
                  background-color: rgba(0, 0, 0, 0.21);
                  color:black;
                }

                .container .jumbotron a{
                  color:rgb(177, 48, 69);
                }

                p a span.glyphicon.glyphicon-star-empty {
                  color:#B939A0;
                  font-size: 20px;
                }

                .tab {
                  margin-left: 40px;
                }

            </style>

            <script>
$(document).ready(function() {
// ajax for bookmark 
$('.bookmark').click(function() {
     var id= $(this).attr('id');
     data={
          'id':id,
          'csrfmiddlewaretoken':'{{ csrf_token }}',
          };
     var classie=$(this).children(":first").attr("class");
      $.ajax({
        url: '/post/bookmark/',
        cache:'false',
        dataType:'json',
        type:'POST',
        data:data,
        success: function(data){
          if (data['success']) {
              $('.bookmark').children(":first").attr("class", 'glyphicon glyphicon-star');
          }
          else {
              $('.bookmark').children(":first").attr("class", 'glyphicon glyphicon-star-empty');
          }
        }, 
        error: function(error){
          alert('error; '+ eval(error));
        }
      });
      return false;
  });
 });
//end for ajax bookmark

</script>

{% endblock %}

{% block content %}

<div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <h3><center>{{ post.title }} 
              <button type="button" class="bookmark" id="{{ post.pk }}" > 
                <span class="{% if not bookmarks %}
                  glyphicon glyphicon-star-empty {% else %} glyphicon glyphicon-star {% endif %}"></span>
              </button>
              </center>
            </h3>
          </p>
          <div class="jumbotron">
            <p>Region: <b>{{ post.region }}</b></p>
            <p>Year:<b> {{ post.vehicle_year }}</b></p>
            <p>Selling Price:<b>{{ post.vehicle_price }}</b></p>
            <p class="tab">{{ post.body }}</p>
            <p><a href="{{ post.posting_url }}">click here</a> to see more details</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}