{% extends "base.html" %}
{% load humanize %}  {% comment %} for formatting prices with a comma separator {% endcomment %}

{% block content %}

<h2>Search report for {{ search }}</h2>

{% if postings_count %}

Postings saved: {{ postings_count }}

<ul>
	{% for r in x %}
	    <li>
	      <strong>{{ r.region__name }}</strong>
	      <ul>
	          <li>postings: {{ r.tcount }}</li>
	          <li>average price: ${{ r.price|floatformat:"0" }}</li>
	          <li>average year: {{ r.year|floatformat:"0" }}</li>
	      </ul>
	    </li>
	{% endfor %}
</ul>

{% comment %}
<ul>
	<li></li>
	<li>Average price: ${{ average_price|intcomma }}</li>
	<li>Average year: {{ average_year }}</li>
</ul>
{% endcomment %}

{% else %}
    <p>No Postings in the database for this search.</p>
{% endif %}

<hr />

{% endblock content %}
