{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}
    <div> 
    <a href="{% url 'login' %}">Login or</a>
    <a href="{% url 'registration_register' %}">Register</a>
    to create your searches 
    </div>
{% else %}
{% if is_paginated %}
<ol start="{{ page_obj.start_index }}">
{% else %}
<ol>
{% endif %}
{% for search in object_list %}
  <li>
      <a href="{% url 'search_detail' pk=search.pk %}">
          <b>{{ search }}</b>
      </a>
  </li>
{% endfor %}
</ol>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}